[Cloud]
email: user@example.com
remotekey: key-will-be-autoinserted-hopefully

[Hub]
host: 192.168.0.100
port: 8893
authkey: specify-manually-or-let-autoinsert-do-it

[Storage]
# influxdb
host: localhost
port: 8086
user: root
password: pass
db: cozify
